/* FONTS

font-family: 'Playfair Display', serif;

*/
@font-face {
font-family: 'Helvetica Neue LT Std 55 Roman';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT Std 55 Roman'), url('HelveticaNeueLTStd55Roman_22526.woff') format('woff');
}


@font-face {
font-family: 'Helvetica Neue LT Std 53 Extended';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT Std 53 Extended'), url('HelveticaNeueLTStdEx.woff') format('woff');
}

@font-face {
font-family: 'Helvetica Neue LT Std 75 Bold';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT Std 75 Bold'), url('HelveticaNeueLTStd75Bold_22539.woff') format('woff');
}

/* CSS STARTS HERE */

body {
  background-color: black;
}

#landingVideo {
  position: fixed;
   top: -650px;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: -100;
}

#logoLemonade {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  -webkit-text-fill-color: white;
}

#logoSGN {
  text-align: center;
  font-family: 'Helvetica Neue LT Std 55 Roman';
  font-size: 28px;
  -webkit-text-fill-color: white;
}

.logo {
  padding: 24px;
}

#issueNo {
  text-align: center;
  font-family: 'Helvetica Neue LT Std 55 Roman';
  font-size: 48px;
  -webkit-text-fill-color: white;
}

#issueName {
  text-align: center;
  font-family: 'Helvetica Neue LT Std 53 Extended';
  font-size: 96px;
  -webkit-text-fill-color: white;
}

.issueHeader {
  padding-top: 150px;
}

.btn {
  width: 300px;
  height: 50px;
  border-radius: 50px;
  background-color:#0AD699;
  font-size: 24px;
  text-decoration: none;
  font-family: 'Helvetica Neue LT Std 55 Roman';
  -webkit-text-fill-color: white;
  text-align: center;
  padding: 10px;
  padding-top: 15px;
}

.btn:hover {
  transition: .5s;
  background-color:#629FFF;
}

.openButton {
  padding-left: 46vw;
  padding-top: 18vw;
}





#marquee {
  text-transform: uppercase;
  font-family: 'Helvetica Neue LT Std 55 Roman';
  font-size: 18px;
  padding-top: 24px;
  -webkit-text-fill-color: white;
}

.marqueeDiv {
  position:sticky;
  position: -webkit-sticky;
  top:0;
  z-index: 1;
 }

 .nav {
   position:sticky;
   position: -webkit-sticky;
   top:24px;
   z-index: 1;
   margin-left: 861px;
   margin-top: -69px;
 }

 .navStyle-1 {
   font-family: 'Helvetica Neue LT Std 53 Extended';
   font-size: 24px;
   text-decoration: none;
   color: white;
   padding: 5px;
 }

 .navStyle-1:hover {
   transition: ;
   font-size: 0px;
 }

 .navStyle-1:hover:after{
   transition: .2;
   content: attr(data-hover);
   font-size:24px;
 }

 .navStyle-2 {
   font-family: 'Helvetica Neue LT Std 53 Extended';
   font-size: 24px;
   text-decoration: none;
   color: white;
   padding: 5px;
 }

 .navStyle-2:hover {
   transition:;
   font-size: 0px;
 }

 .navStyle-2:hover:after{
   content: attr(data-hover);
   font-size:24px;
 }

 .navStyle-3 {
   font-family: 'Helvetica Neue LT Std 53 Extended';
   font-size: 24px;
   text-decoration: none;
   color: white;
   padding: 5px;
 }

 .navStyle-3:hover {
   transition:;
   font-size: 0px;
 }

 .navStyle-3:hover:after{
   content: attr(data-hover);
   font-size:24px;
 }

#sec1 {
  height:250vh;
  display: flex;
}

.sec1sideA {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position:sticky;
  position: -webkit-sticky;
  top:0;
}

.introTitle {
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -60px;
}

#introVideo {
  width: 50vw;
  margin-top: -76px;
  display: flex;

  position:sticky;
  position: -webkit-sticky;
}

.sec1sideB {
  width: 50vw;
  height: 250vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0AD699;


}

.sec1sideB div{
  height:250vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;}

#line1{
  padding-top: 24px;
  padding-bottom: 24px;
  border-left: 2px solid black;
  height:425px;
}

#introAT {
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  text-align: center;
  -webkit-text-fill-color: white;

}

#introIntro {
  font-family: 'Helvetica Neue LT Std 53 Extended';
  font-size: 48px;
  text-align: center;
  -webkit-text-fill-color: white;
  line-height: 60px;
}


#introPg1 {
  font-family: 'Helvetica Neue LT Std 55 Roman';
  font-size: 24px;
  text-align: center;
  width: 70%;
}

#introPg1Fred {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  text-align: center;
  line-height: 36px;
}



#sec2 {
  height:150vh;
  display: flex;
}

.sec2sideB{
  width: 50vw;
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: left;
  background-color: #629FFF;
}

.sec2sideA {
  height:100vh;
  width: 50vw;

  position:sticky;
  position: -webkit-sticky;
  top:0;
}

#sec2Image {
  height:100vh;
  width: 50vw;
  background-image: url("https://d.newsweek.com/en/full/1580394/dhauladhar-mountain-range.jpg");
  background-position: center;
  background-size: cover;
  opacity: 70%;
}

#sec2Text {
  position:absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top:0;
  margin-top: 40%
}
#subheader{
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  text-align: center;
  -webkit-text-fill-color: white;
}

#title{
  font-family: 'Helvetica Neue LT Std 53 Extended';
  font-size: 36px;
  text-align: center;
  -webkit-text-fill-color: white;
  line-height: 46px;
  width:70%;

}

#author{
  font-family: 'Helvetica Neue LT Std 75 Bold';
  font-size: 18px;
  text-align: center;
  color:white;

}

#sec3 {
  height:200vh;
  display: flex;
}

.sec3sideA {
  height:100vh;
  width: 50vw;

  position:sticky;
  position: -webkit-sticky;
  top:0;
}

#sec3Image {
  height:100vh;
  width: 50vw;
  background-image: url("https://cdn.vox-cdn.com/thumbor/wLpoixIFosPi_yTm4fahPv6V4sg=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/18330178/BORDER_PATROL_072419_17.jpg");
  background-position: center;
  background-size: cover;
  opacity: 50%;
}

#sec3Text {
  position:absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top:0;
  margin-top: 40%
}

.sec3sideB {
  width: 50vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: left;
  background-color: #629FFF;
}

#infoEm {
  font-family: 'Helvetica Neue LT Std 55 Roman';
  font-size: 24px;
  text-align: center;
  padding-top: 280px;
  padding-left: 120px;
  width:70%;
}

#info {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  text-align: left;
  line-height: 24px;
  padding: 55px;
  padding-top: 50px;
  width: 87%;
}

.btn2 {
  width: 150px;
  height: 25px;
  border-radius: 50px;
  background-color:white;
  font-size: 18px;
  text-decoration: none;
  font-family: 'Helvetica Neue LT Std 55 Roman';
  -webkit-text-fill-color: black;
  text-align: center;
  padding-top: 10px;
  margin-left:55px;
}

.btn2:hover {
  transition: .5s;
  background-color:#0AD699
}

.openButton {
  padding-left: 46vw;
  padding-top: 18vw;
}



@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}
