/* FONTS

font-family: 'Playfair Display', serif;

*/
@font-face {
font-family: 'Helvetica Neue LT Std 55 Roman';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT Std 55 Roman'), url('HelveticaNeueLTStd55Roman_22526.woff') format('woff');
}


@font-face {
font-family: 'Helvetica Neue LT Std 53 Extended';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT Std 53 Extended'), url('HelveticaNeueLTStdEx.woff') format('woff');
}

@font-face {
font-family: 'Helvetica Neue LT Std 75 Bold';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT Std 75 Bold'), url('HelveticaNeueLTStd75Bold_22539.woff') format('woff');
}

/* CSS STARTS HERE */
body {
  background-color: #0AD699;
}

#landingVideo {
  position: fixed;
   top: -650px;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: -100;
}

#logoLemonade {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  -webkit-text-fill-color: white;
}

#logoSGN {
  text-align: center;
  font-family: 'Helvetica Neue LT Std 55 Roman';
  font-size: 28px;
  -webkit-text-fill-color: white;
}

.logo {
  padding: 24px;
}

#issueNo {
  text-align: center;
  font-family: 'Helvetica Neue LT Std 55 Roman';
  font-size: 48px;
  -webkit-text-fill-color: white;
}

#issueName {
  text-align: center;
  font-family: 'Helvetica Neue LT Std 53 Extended';
  font-size: 96px;
  -webkit-text-fill-color: white;
}

.issueHeader {
  padding-top: 150px;
}

.btn {
  width: 300px;
  height: 50px;
  border-radius: 50px;
  background-color:#0AD699;
  font-size: 24px;
  text-decoration: none;
  font-family: 'Helvetica Neue LT Std 55 Roman';
  -webkit-text-fill-color: white;
  text-align: center;
  padding: 10px;
  padding-top: 15px;
}

.btn:hover {
  transition: .5s;
  background-color:#629FFF;
}

.openButton {
  padding-left: 46vw;
  padding-top: 18vw;
}

#marquee {
  text-transform: uppercase;
  font-family: 'Helvetica Neue LT Std 55 Roman';
  font-size: 18px;
  padding-top: 24px;
  -webkit-text-fill-color: white;
}

.marqueeDiv {
  position:sticky;
  position: -webkit-sticky;
  top:0;
}

#introAT {
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  text-align: center;
  -webkit-text-fill-color: white;

}

#introIntro {
  font-family: 'Helvetica Neue LT Std 53 Extended';
  font-size: 48px;
  text-align: center;
  -webkit-text-fill-color: white;
  line-height: 60px;
}

#introPg1 {
  font-family: 'Helvetica Neue LT Std 55 Roman';
  font-size: 24px;
  text-align: center;
  width: 70%;
}

#introPg1Fred {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  text-align: center;
  line-height: 36px;
}

.nav{
  position: fixed;
  padding: 0px;
  margin-left:820px;
  margin-top: -24px;
}

.navStyle {
  font-family: 'Helvetica Neue LT Std 53 Extended';
  font-size: 24px;
  text-decoration: none;
  -webkit-text-fill-color: white;
  padding: 5px;
}


section {
  display: flex;
  flex-direction: row;
}


section div {
  width:50%;
}

section:nth-child(odd){
  flex-direction: row-reverse;
}

section div.text{
  padding: 50px;
}

section div.full-image {
  height: 100vh;

  background-image: url("images/hands.png");

  background-size: cover;
  background-position: center;
}

section div.image-1 {
  background-image: url("images/hands.png");


}
@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}
